.postTitle
  = @post.title
.postDate
  = @post.created_at
.postAuthor
- if user_signed_in? && current_user.id == @post.user_id
  .postManage
    = link_to "編集", edit_post_path(@post.id), class: "postManage__edit"
    = link_to "削除", post_path(@post.id), method: :delete, class: "postManage__delete"
.postText
  = simple_format @post.content
.postText
  = simple_format @post.company_information
.postText
  = simple_format @post.about_product
.postText
  = simple_format @post.recruitment_background
.postText
  = simple_format @post.job_occupation
.postText
  = simple_format @post.skill
.postText
  = simple_format @post.expected_experience
.postText
  = simple_format @post.attraction_of_company
.postText
  = simple_format @post.attraction_of_job

